<!-- vue : tableau de classement -->


<div class="container padded">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 marmiton-card text-center">
      <span class="marmiton-prefix">Cuisine italienne <strong>from</strong></span> <%= render "shared/marmiton" %> <span class="label label-success label-score"><%= @score %> pts</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 first-card text-center" style="padding: 30px;">
          <div>
            <h3 class= "title-card" id="title-index-user"> Classement</h3>
          </div>
          <div class="question-show-quizz">
            <p>Félicitation, votre score est de : <%= @score%> POINTS </p>
            <% if current_user %>
            <p>Votre total de points est de <%= current_user.total_score %>.</p>
            <% else %>
            <p>Inscrivez vous pour cumulez vos points et tenter de gagner des repas dans les meilleures restaurant ! </p>
            <% end %>
          </div>
            <div>
            <% if user_signed_in? %>

              <%= link_to('Deconection', destroy_user_session_path, :method => :delete, class: "btn btn-danger" ) %>

            <% else %>

              <%= link_to('Connection', new_user_session_path, class: "btn btn-success")  %>

            <% end %>
             <%= link_to('Quizzine', quizzs_path(@quizz), class: "btn btn-success")  %>
          </div>

          <div class="container" id="answer-show-quizz">
            <p>Le tableau des High Score!</p>
            <div class="row">
              <div class="col-xs-6">
                <ul class="list-unstyled text-center">
                  <% @users.each do |user| %>
                    <li class="text-left"><%= user.name %> :</li>
                  <% end %>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul class="list-unstyled text-center">
                  <% @users.each do |user| %>
                    <li class="text-right"><%= user.total_score %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>



      </div>
    </div>
  </div>












