<h1> Page de Jeux </h1>


<h1><%= @quizz.theme %></h1>
<h3><%= @score %></h3>
<h3><%= @question.sujet %></h3>



<%= simple_form_for @answer_user do |f| %>
  <%= f.input :answer_id, collection: @answers.map { |answer| [answer.proposition, answer.id] }, as: :radio_buttons %>
  <%= f.submit %>
<% end %>

<!-- #/////////////////////// -->



